.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon {
  /* border: 2px solid white; */
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  display: flex;
  background-color: pink;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.fighting_msg {
  margin: 5px 10px;
  padding: 2px 5px;
  background-color: #c8e5ff;
  display: flex;
  flex-direction: column;
}
.fighting_msg div {
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#attendance_post {
  position: absolute;
  top: 21%;
  left: 19%;
  background-color: #a4c2f4;
}
#attendance_get {
  text-align: center;
  position: absolute;
  top: 30%;
  right: 19%;
  background-color: #9fc5e8;
}
#attendance_newFace {
  position: absolute;
  top: 39%;
  left: 19%;
  background-color: #bad1f7;
}
#eum_pw {
  position: absolute;
  top: 48%;
  right: 19%;
  background-color: #55ec87;
}
#fighting {
  position: absolute;
  top: 57%;
  left: 19%;
  background-color: #c894d5;
}

.fighting_msg p {
  margin: 1px 1px;
}
@media screen and (max-width: 324px) {
  #attendance_post {
    position: absolute;
    top: 23%;
    left: 12%;
    background-color: #a4c2f4;
  }
  #attendance_get {
    text-align: center;
    position: absolute;
    top: 32%;
    right: 12%;
    background-color: #9fc5e8;
  }
  #attendance_newFace {
    position: absolute;
    top: 41%;
    left: 12%;
    background-color: #bad1f7;
  }
  #eum_pw {
    position: absolute;
    top: 50%;
    right: 12%;
    background-color: #55ec87;
  }
  #fighting {
    position: absolute;
    top: 59%;
    left: 12%;
    background-color: #c894d5;
  }
}
