@font-face {
  font-family: "jamsil_font";
  src: url("./fonts/The\ Jamsil\ 2\ Light.ttf");
}
body {
  margin: 0;
  font-family: "jamsil_font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d0e3f3;
  /* color: #ffffff; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
